
# ignore local test config
/src/test/resource/config.properties

# ignore maven artifacts
/target/

# ignore ide stuff: idea 
/.idea/
/*.iml

# ignore ide stuff: eclipse 
/.settings/
.classpath
.project
