<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="JiraRestService Tests">
    <test name="Complete Read Test">
        <classes>
            <class name="com.github.cschulc.jirarestservice.test.IssueRestServiceTest"></class>
            <class name="com.github.cschulc.jirarestservice.test.SystemRestServiceTest"></class>
            <class name="com.github.cschulc.jirarestservice.test.SearchRestServiceTest"></class>
            <class name="com.github.cschulc.jirarestservice.test.UserRestServiceTest"></class>
            <class name="com.github.cschulc.jirarestservice.test.ProjectRestServiceTest"></class>
            <class name="com.github.cschulc.jirarestservice.test.PermissionSchemeRestServiceTest"></class>
            <class name="com.github.cschulc.jirarestservice.test.NotificationSchemeRestServiceTest"></class>
        </classes>
    </test>
</suite>