<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="JiraRestService Tests">
    <test name="Complete Read Test">
        <classes>
            <class name="com.github.cschulc.jirarestservice.test.IssueRestServiceTest"/>
            <class name="com.github.cschulc.jirarestservice.test.SystemRestServiceTest"/>
            <class name="com.github.cschulc.jirarestservice.test.SearchRestServiceTest"/>
            <class name="com.github.cschulc.jirarestservice.test.UserRestServiceTest"/>
            <class name="com.github.cschulc.jirarestservice.test.ProjectRestServiceTest"/>
            <class name="com.github.cschulc.jirarestservice.test.PermissionSchemeRestServiceTest"/>
            <class name="com.github.cschulc.jirarestservice.test.NotificationSchemeRestServiceTest"/>
        </classes>
    </test>
</suite>